<div *ngIf="user.uid | async as uid; else login">
  The user is logged in . {{uid}}
  <div *ngIf="user.isAdmin | async">
    The user also has ADMIN superpowers.
  </div>
  <div>
    <button (click)="user.logout()"> Logout </button>
  </div>
</div>
<ng-template #login>
  Login by Gmail: <button (click)="user.login()"> Login </button>
</ng-template>