<form [formGroup]="profileForm">
  <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>

    <label>
      Last Name:
      <input type="text" formControlName="lastName" required>
    </label>

    <label>
      E-mail:
      <input type="email" formControlName="email" required>
    </label>

    <label>
      Phone Number:
      <input type="text" formControlName="phoneNumber" required>
    </label>

  </div>
  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city" required>
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
</form>
<!--Saving form data-->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <br /><br />
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <!--
    Displaying form status
  -->
  <p>
    Form Status: {{ profileForm.status }}
  </p>