<nav>
  <br /><br />
  <a routerLink="auth" routerLinkActive="Avtive">Auth</a>
  <br /><br />
  <a routerLink="profile" routerLinkActive="Avtive">Profile</a>
  <br /><br />
  <a routerLink="tomtomMap" routerLinkActive="Avtive">Here is the Map :D</a>
  <br /><br />
</nav>
<router-outlet></router-outlet>